body {
    margin: 0;
    background-color: #000;
}

/* Masonry layout */
.grid {
    background: #000;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 33.333%; /* 3 columns */
}

@media (max-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 50%; /* 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .grid-sizer,
    .grid-item {
        width: 100%; /* 1 column on very small screens */
    }
}

.grid-item {
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
}


.metadata {
    position: absolute;
    bottom: 5px; /* Adjust to match padding */
    left: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    font-family: sans-serif;
    font-size: 14px;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.grid-item:hover .metadata {
    opacity: 1;
    transform: translateY(0);
}

/* Admin Panel Styles */
.admin-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
}

#upload-container h1 {
    text-align: center;
}

#drop-zone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 60px 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

#drop-zone.drag-over {
    border-color: #007bff;
}

#drop-zone p {
    margin: 0;
    color: #666;
}

#photo-input {
    display: none;
}

#preview {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin-bottom: 20px;
}

.preview-item {
    position: relative;
}

.preview-item img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
}

#upload-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#upload-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#upload-form button:hover {
    background-color: #0056b3;
}

#upload-status {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

